# База данных - никогда не должна быть в репозитории
forumnik_3_0.db
*.db
*.json

# Папки и файлы
screenshots/

# Временные файлы Python
__pycache__/
*.pyc

# Папки виртуального окружения
venv/
env/
.venv/
.env

# Лог-файлы
*.log

# Файлы настроек IDE
.vscode/
.idea/